<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>topページ</h3>
    </div>
    <div class="col-md-8">
      <h3><%= link_to "管理者登録", new_admin_registration_path %></h3>
      <h3><%= link_to "管理者ログイン", new_admin_session_path %></h3>
    </div>
  </div>
</div>