/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // ブートストラップ適用のため記載
 @import "bootstrap";

 * {
  box-sizing: border-box;
  font-size: 16px;
 }

 .navbar {
  position: relative;
 }

 // tableの設定
table{
  width: 100%;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 30%;
  background-color: #87CEFA;
  color: white;
  text-align: center;
  padding: 30px 20px;
  font-size: 18px;
}

table th a {
  color: white;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #87CEFA;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  text-align: center;
  background-color: #eee;
  padding: 10px 0px;
}

.animate-box {
  opacity:1!important;
}

// テーブルの下線
table tr, th, td {
  border-bottom:solid 1px black;
}
